{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Регистрация</h1>
    <div class="mb-3">
        Пожалуйста, зарегистрируйтесь, чтобы получить доступ к полному функционалу системы
    </div>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, { 'label' : 'Эл. почта' }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Пароль'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
    <form>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
    {{ form_end(registrationForm) }}
{% endblock %}
