{% extends 'base.html.twig' %}

{% block title %}GroupMonitoringSettings index{% endblock %}

{% block body %}
    <h1>GroupMonitoringSettings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DaysCount</th>
                <th>PostsCount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_monitoring_setting in group_monitoring_settings %}
            <tr>
                <td>{{ group_monitoring_setting.id }}</td>
                <td>{{ group_monitoring_setting.DaysCount }}</td>
                <td>{{ group_monitoring_setting.PostsCount }}</td>
                <td>
                    <a href="{{ path('group_monitoring_settings_show', {'id': group_monitoring_setting.id}) }}">show</a>
                    <a href="{{ path('group_monitoring_settings_edit', {'id': group_monitoring_setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_monitoring_settings_new') }}">Create new</a>
{% endblock %}
