{% extends 'base.html.twig' %}

{% block title %}Мониторинг ВКонтакте{% endblock %}

{% block body %}
    <h1>Мониторинг групп ВКонтакте</h1>
    <br>
    <div class="mb-3">
        <form action="{{ path('user_profile') }}">
            <input type="submit" value="Назад"/>
        </form>
    </div>
    <br>
    <div class="mb-3">
        <form action="{{ path( 'monitoring_record_new' ) }}">
            <input type="submit" value="Начать сканирование"/>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Группа</th>
            <th>Время создания</th>
            <th>Статус</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for monitoring_record in monitoring_records %}
            <tr>
                <td>{{ monitoring_record.Name }}</td>
                {% if monitoring_record.GroupLink.Name %}
                    <td>{{ monitoring_record.GroupLink.Name }}</td>
                {% else %}
                    <td>{{ monitoring_record.GroupLink.Link }}</td>
                {% endif %}

                <td>{{ monitoring_record.Time ? monitoring_record.Time|date('Y-m-d H:i:s') : '' }}</td>

                {% if monitoring_record.Status %}

                    <td>
                        <span style="color: green; "> Завершено </span>
                    </td>

                    <td>
                        <div class="mb-3">
                            <form action="{{ path( 'monitoring_record_details', {'id': monitoring_record.Id} ) }}">
                                <input type="submit" value="Подробнее"/>
                            </form>
                        </div>
                        {% include('monitoring_record/_delete_form.html.twig') with {'label':'Удалить'} %}
                    </td>

                {% else %}
                    <td>
                        <span style="color: red; "> В процессе </span>
                    </td>
                    <td>
                        {% include('monitoring_record/_delete_form.html.twig') with {'label':'Остановить'} %}
                    </td>
                {% endif %}


            </tr>
        {% else %}
            <tr>
                <td colspan="4">Вы еще не проводили мониторинг групп</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
