{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    <form action="{{ path('login_check') }}" method="post">
        {% if app.user %}
            {% if app.user %}

                {% if app.user.optionalname %}
                    <div class="mb-3">
                        <h2>Здравствуйте, {{ app.user.optionalname }}!</h2>
                    </div>
                {% else %}
                    <div class="mb-3">
                        <h2>Здравствуйте, {{ app.user.username }}!</h2>
                    </div>
                {% endif %}
            {% endif %}
            <div class="mb-3">
                <a href="{{ path('user_settings') }}">Настройки</a>
            </div>
            <div class="mb-3">
                <a href="{{ path('monitoring_record_index') }}">Мониторинг групп ВКонтакте</a>
            </div>
            <div class="mb-3">
               <a href="{{ path('app_logout') }}">Выйти</a>
            </div>
        {% endif %}

{% endblock %}